//colors
$color-primary: #03ccc8;
$color-primary-light: #86fff5;
$color-primary-light-2: #fadffc;
$color-primary-dark: #7d72f6;

$color-secondary-light: #FC00FF;
$color-secondary-dark: #9599E2;

$color-tertiary-light: #18ffec;
$color-tertiary-dark: #f426ba;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-orange: #ff7730;

//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
